.intro-bulb {
  border: 6px solid $white;
  padding: 20px 0 ;
  margin-bottom: 65px;
  position: relative;

  @include rem-fallback("max-width", 1280);
  @media only screen and (min-width: $breakpoint-small) {
  }
  p {
    font-size: 22px;
    width: 80%;
    margin: 0;
  }

  .title {
    font-family: $axa-font-franklin-heavy;
    color : $dark-blue;
    @include rem-fallback("margin", 20, 0);
    @include rem-fallback("font-size", 26);
    @include rem-fallback("line-height", 20);


    @media only screen and (min-width: $breakpoint-large) {
      @include rem-fallback("font-size", 36);
      @include rem-fallback("line-height", 30);
    }
  }

  .description {
    font-family: $axa-font-franklin-medium;
    @include rem-fallback("margin", 20, 0);
    @include rem-fallback("font-size", 18);
    @include rem-fallback("line-height", 22);


    @media only screen and (min-width: $breakpoint-large) {
      @include rem-fallback("font-size", 22);
      @include rem-fallback("line-height", 32);
    }
  }

  .bulbImg {
    text-align : center;
    img {
      width: 100%;
    }
  }
  &:before {
    content: "";
    position: absolute;
    bottom: -64px;
    left: 195px;
    border-width: 32px;
    border-style: solid;
    border-color: $white transparent transparent $white;
    display: block;
    width: 0;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -52px;
    left: 200px;
    border-width: 26px;
    border-style: solid;
    border-color: $turquoise transparent transparent $turquoise;
    display: block;
    width: 0;
  }
}