$axa-page-header-height: 110 !default;
$axa-page-body-top: $axa-header-height + $axa-page-header-height !default;

.axa-main {
  width: 100%;
  height: 100%;
  @include rem-fallback("padding-top", $axa-header-height);
  overflow: hidden;

  &.fullpage-wrapper{
    padding: 0;
    overflow: visible;
  }

  .axa-page {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    display: block;

    .fp-tableCell{
      display: table;
    }

    .axa-page-container.cell{
      display: table-cell;
      vertical-align: middle;
    }

    .axa-page-header {
      position: absolute;
      @include rem-fallback("top", $axa-header-height);
      @include rem-fallback("height", $axa-page-header-height);
      left: 0;
      right: 0;
      padding-top: 35px;

      .page-title {
        position: static;
        margin: 0;
        z-index:0;
      }
    }

   /* &.page-results {
      .axa-page-header {
        position: absolute;
        //@include rem-fallback("top", 0);
        top: 0;
        left: 0;
        right: 0;
        //@include rem-fallback("margin-top", 120);
        margin-top: 8%;
        padding: 0;
      }
      .axa-page-body {
        //@include rem-fallback("top", 0);
        top: 0;
        //@include rem-fallback("margin-top", 290);
        margin-top: 17%;
      }
    }*/


    .axa-page-body {
      position: absolute;

      @include rem-fallback("top", $axa-page-body-top);
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      /* Utilisons un peu d'inertie */
      -webkit-overflow-scrolling: touch;
    }

    .page-title {
      @include rem-fallback("font-size", 42);
      @include rem-fallback("line-height", 44);
      text-align: left;
      font-weight: 800;
      font-family: $axa-font-franklin-medium;
      @include rem-fallback("margin-top", 90);
      color: $white;

      position: absolute;
      top: 0;
      z-index: 10;

      .text,
      .btn-popin {
        display: inline-block;
      }
    }

  }
}

@import 'pages/page-home';
@import 'pages/page-profile';
@import 'pages/page-recap';
@import 'pages/page-result';
@import 'pages/page-loader';