.btn-popin {
  @include rem-fallback("width", 25);
  @include rem-fallback("height", 25);
  background: url(../assets/icon-info-circle.svg) 50% 50% no-repeat;
  cursor: pointer;
}

.popin {
  position: absolute;
  z-index: 200;
  background-color: white;
  font-size: 10px;
  padding: 36px 36px 20px 20px;
  width: 350px;
  left: 100px;
  border: 0;
  font-family: $axa-font-franklin-medium;
  @include rem-fallback("font-size", 14);
  @include rem-fallback("line-height", 12);
  color: #202020;

  &.theme-home {
    color: $turquoise;
  }
  &.theme-profile {
    color: $orange;
  }
  &.theme-recap {
    color: $violet;
  }
  &.theme-results {
    color: $turquoise_dark;
  }

  &.theme-chart-home {
    color: #e53c3f;
    width: 250px;
    padding: 36px 20px 20px 20px;
  }
  &.theme-chart-family {
    color: #16509b;
    width: 250px;
    padding: 36px 20px 20px 20px;
  }
  &.theme-chart-health {
    color: #f6ab22;
    width: 250px;
    padding: 36px 20px 20px 20px;
  }
  &.theme-chart-hobby {
    color: #78c8d5;
    width: 250px;
    padding: 36px 20px 20px 20px;
  }
  &.theme-chart-other {
    color: #7cc056;
    width: 250px;
  }

  .title {
    @include rem-fallback("font-size", 24);
    @include rem-fallback("line-height", 24);
    font-family: $axa-font-franklin-heavy;
    margin-top: -36px;
    padding: 10px 0;
    display: table;
    vertical-align: middle;
    display: table;

    .title-icon {
      position: relative;
      left: inherit;
      bottom: inherit;
      transform: initial;
      margin-right: 16px;
    }

    .title-text,
    .title-icon {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &:after, &:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
  }

  &:after {
    border-width: 15px;
  }
  &:before {
    border-width: 11px;
  }

  &.leftArrow {
    &:after, &:before {
      right: 100%;
      top: 50px;
    }
    &:after {
      border-right-color: #ffffff;
      margin-top: -15px;
    }
    &:before {
      border-right-color: #ffffff;
      margin-top: -11px;
    }
  }

  &.rightArrow {
    &:after, &:before {
      left: 100%;
      top: 50px;
    }
    &:after {
      border-left-color: #ffffff;
      margin-top: -15px;
    }
    &:before {
      border-left-color: #ffffff;
      margin-top: -11px;
    }
  }

  &.bottomArrow {
    &:after, &:before {
      top: 100%;
      left: 50%;
    }
    &:after {
      border-top-color: #ffffff;
      margin-left: -15px;
    }
    &:before {
      border-top-color: #ffffff;
      margin-left: -11px;
    }
  }

  .popinContent {
    margin-top: 5px;
  }
  .popin-content {
    text-align: left;
    @include rem-fallback("line-height", 18);
  }
  .btn-close {
    display: inline-block;
    width: 36px;
    height: 36px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    .link-close {
      display: block;
      width: 36px;
      height: 36px;
      display: block;
      background-image: url('../assets/sprites-close.png');
    }
  }

  &.theme-home,
  &theme-chart-home {
    .btn-close .link-close {
      background-position: 50% 0;
    }
  }
  &.theme-profile {
    .btn-close .link-close {
      background-position: 50% -36px;
    }
  }
  &.theme-recap {
    .btn-close .link-close {
      background-position: 50% -72px;
    }
  }
  &.theme-results {
    .btn-close .link-close {
      background-position: 50% -108px;
    }
  }

  &.theme-chart-home {
    .btn-close .link-close {
      background-position: 50% -144px;
    }
  }
  &.theme-chart-family {
    .btn-close .link-close {
      background-position: 50% -180px;
    }
  }
  &.theme-chart-health {
    .btn-close .link-close {
      background-position: 50% -216px;
    }
  }
  &.theme-chart-hobby {
    .btn-close .link-close {
      background-position: 50% -252px;
    }
  }
  &.theme-chart-other {
    .btn-close .link-close {
      background-position: 50% -288px;
    }
  }
}



#log{
  position: fixed;
  background: #ffffff;
  color: #000000;
  padding: 10px;
  top:0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 700;
}