.text-blue {
  color : $dark-blue;
}
.text-white {
  color : $white;
}


@mixin title-style-1() {
  @include rem-fallback("font-size", 20);
  text-transform: uppercase;
  @include rem-fallback("margin-bottom", 30);
}
.title-style-1 {
  @include title-style-1;
}