<!-- build:js scripts/vendor.js -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/lodash/dist/lodash.min.js"></script>
<script src="bower_components/lodash-deep/lodash-deep.min.js"></script>
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/lodash/lodash.js"></script>
<script src="/bower_components/lodash-deep/lodash-deep.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="scripts/components/events.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/settings.js"></script>
<script src="scripts/components/loader.js"></script>
<script src="scripts/components/popin.js"></script>
<script src="scripts/components/datasFiller.js"></script>
<script src="scripts/components/dataStorage.js"></script>
<script src="scripts/components/dataLoader.js"></script>
<!-- endbuild -->