<!-- - -->
<!--            PAGE HOME B             -->
<!-- - -->
<div class="axa-page section <!-- @@var classPage --> <!-- @@var bgPage -->"
     id="<!-- @@var idPage -->"
     axa-fullpage-anchor="<!-- @@var sectionPage -->">

    <div class="page-container axa-page-container cell">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-12">
                        <div class="intro-bulb">
                            <div class="row">
                                <div class="col-3">
                                    <div class="bulbImg">
                                        <img src="assets/example-tooltip-background.png"/>
                                    </div>
                                </div>
                                <div class="col-9">
                                    <div data-template="{{start.bulb.title}}" class="text-blue title">{{start.bulb.title}}</div>
                                    <div data-template="{{start.bulb.description}}" class="description">{{start.bulb.title}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="text-blue title-section" data-template="{{start.exemple.part1.title}}"></div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-6">
                        <div class="text-white title-article" data-template="{{start.exemple.part1.left.title}}"></div>
                        <div class="description-article" data-template="{{start.exemple.part1.left.description}}"></div>
                        <div class="description-article" data-template="{{start.exemple.part1.left.description-2}}"></div>
                    </div>

                    <div class="col-1"></div>
                    <div class="col-5">
                        <div class="text-white title-article" data-template="{{start.exemple.part1.right.title}}"></div>
                        <ul class="universe">
                            <li class="item">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="" class="icon-universe" data-template="{{icons.house}}"/>
                                    </div>
                                    <div class="col-9">
                                        <div class="universe-container">
                                            <div class="text-blue universe-amount" data-template="{{start.exemple.part1.right.listItems.item1.amount}}"></div>
                                            <div class="universe-title" data-template="{{start.exemple.part1.right.listItems.item1.title}}"></div>
                                            <div class="universe-description" data-template="{{start.exemple.part1.right.listItems.item1.description}}"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="" class="icon-universe"data-template="{{icons.health}}"/>
                                    </div>
                                    <div class="col-9">
                                        <div class="universe-container">
                                            <div class="text-blue universe-amount" data-template="{{start.exemple.part1.right.listItems.item2.amount}}"></div>
                                            <div class="universe-title" data-template="{{start.exemple.part1.right.listItems.item2.title}}"></div>
                                            <div class="universe-description" data-template="{{start.exemple.part1.right.listItems.item2.description}}"></div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="item">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="" class="icon-universe"data-template="{{icons.fun}}"/>
                                    </div>
                                    <div class="col-9">
                                        <div class="universe-container">

                                            <div class="text-blue universe-amount" data-template="{{start.exemple.part1.right.listItems.item3.amount}}"></div>
                                            <div class="universe-title" data-template="{{start.exemple.part1.right.listItems.item3.title}}"></div>
                                            <div class="universe-description" data-template="{{start.exemple.part1.right.listItems.item3.description}}"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="" class="icon-universe"data-template="{{icons.family}}"/>
                                    </div>
                                    <div class="col-9">
                                        <div class="universe-container">
                                            <div class="text-blue universe-amount" data-template="{{start.exemple.part1.right.listItems.item4.amount}}"></div>
                                            <div class="universe-title" data-template="{{start.exemple.part1.right.listItems.item4.title}}"></div>
                                            <div class="universe-description" data-template="{{start.exemple.part1.right.listItems.item4.description}}"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- -->
                <div class="row">
                    <div class="col-12">
                        <div class="text-blue title-section" data-template="{{start.exemple.part2.title}}"></div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-6">
                        <div class="text-white title-article" data-template="{{start.exemple.part2.left.title}}"></div>
                        <div class="description-article" data-template="{{start.exemple.part2.left.description}}"></div>
                        <div class="description-article" data-template="{{start.exemple.part2.left.description-2}}"></div>
                    </div>

                    <div class="col-1"></div>
                    <div class="col-5">
                        <div class="text-white title-article" data-template="{{start.exemple.part1.right.title}}"></div>
                        <ul class="universe">
                            <li class="item">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="" class="icon-universe" data-template="{{icons.house}}"/>
                                    </div>
                                    <div class="col-9">
                                        <div class="universe-container">
                                            <div class="text-blue universe-amount" data-template="{{start.exemple.part2.right.listItems.item1.amount}}"></div>
                                            <div class="universe-title" data-template="{{start.exemple.part2.right.listItems.item1.title}}"></div>
                                            <div class="universe-description" data-template="{{start.exemple.part2.right.listItems.item1.description}}"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="" class="icon-universe"data-template="{{icons.health}}"/>
                                    </div>
                                    <div class="col-9">
                                        <div class="universe-container">
                                            <div class="text-blue universe-amount" data-template="{{start.exemple.part2.right.listItems.item2.amount}}"></div>
                                            <div class="universe-title" data-template="{{start.exemple.part2.right.listItems.item2.title}}"></div>
                                            <div class="universe-description" data-template="{{start.exemple.part2.right.listItems.item2.description}}"></div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li class="item">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="" class="icon-universe"data-template="{{icons.fun}}"/>
                                    </div>
                                    <div class="col-9">
                                        <div class="universe-container">

                                            <div class="text-blue universe-amount" data-template="{{start.exemple.part2.right.listItems.item3.amount}}"></div>
                                            <div class="universe-title" data-template="{{start.exemple.part2.right.listItems.item3.title}}"></div>
                                            <div class="universe-description" data-template="{{start.exemple.part2.right.listItems.item3.description}}"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="item">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="" class="icon-universe"data-template="{{icons.family}}"/>
                                    </div>
                                    <div class="col-9">
                                        <div class="universe-container">
                                            <div class="text-blue universe-amount" data-template="{{start.exemple.part2.right.listItems.item4.amount}}"></div>
                                            <div class="universe-title" data-template="{{start.exemple.part2.right.listItems.item4.title}}"></div>
                                            <div class="universe-description" data-template="{{start.exemple.part2.right.listItems.item4.description}}"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- -->
                <div class="row">
                    <div class="col-12">
                        <div class="disclaimer-text" data-template="{{start.exemple.disclaimer}}"></div>
                    </div>
                </div>
                <div class="row section-graph">
                    <div class="col-6">
                        <div class="white-box graph">
                            <div class="graph-title" data-template="{{start.exemple.repartiion.left.title}}"></div>
                            <div class="graph-info" data-template="{{start.exemple.repartiion.left.subTitle}}"></div>
                            <img src="" data-template="{{icons.graphHealth}}"/>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="white-box graph">
                            <div class="graph-title" data-template="{{start.exemple.repartiion.right.title}}"></div>
                            <img src="" data-template="{{icons.graphEvolution}}"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="seperator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="text-blue title-section" data-template="{{start.exemple.explantion.title}}"></div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="text-blue sub-title-section" data-template="{{start.exemple.explantion.headline}}"></div>
                            <div class="description-article" data-template="{{start.exemple.explantion.text}}"></div>
                        </div>
                        <div class="col-6">
                            <div class="description-article" data-template="{{start.exemple.explantion.text1}}"></div>
                            <div class="description-article" data-template="{{start.exemple.explantion.text2}}"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="seperator"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="text-blue title-section" data-template="{{start.exemple.explantion2.title}}"></div>
                        <div class="text-blue sub-title-section" data-template="{{start.exemple.explantion2.subTitle}}"></div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="description-article" data-template="{{start.exemple.explantion2.text}}"></div>
                            <div class="description-article" data-template="{{start.exemple.explantion2.text1}}"></div>
                            <div class="description-article" data-template="{{start.exemple.explantion2.text2}}"></div>
                            <div class="description-article" data-template="{{start.exemple.explantion2.text3}}"></div>
                        </div>
                        <div class="col-6">
                            <div class="description-article" data-template="{{start.exemple.explantion2.text4}}"></div>
                            <div class="description-article" data-template="{{start.exemple.explantion2.text5}}"></div>
                            <div class="description-article" data-template="{{start.exemple.explantion2.text6}}"></div>
                            <div class="description-article" data-template="{{start.exemple.explantion2.text7}}"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="white-box internal-spacing external-spacing formula">
                            <div class="row">
                                <div class="col-8">
                                    <span class="formula-text" data-template="{{formula.var1}}"></span>

                                    <span>
                          <img src="" data-template="{{icons.multiply}}"/>
                        </span>

                                    <span class="formula-text" data-template="{{formula.var2}}"></span>

                                    <span>
                          <img src="" data-template="{{icons.multiply}}"/>
                        </span>

                                    <span class="formula-text" data-template="{{formula.var3}}"></span>
                                    <span>
                          <img src="" data-template="{{icons.divide}}"/>
                        </span>
                                </div>
                                <div class="col-4">
                                    <span class="formula-text" data-template="{{formula.var4}}"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="disclaimer-container">
                            <div class="disclaimer-text" data-template="{{legend.var1}}"></div>
                            <div class="disclaimer-text" data-template="{{legend.var2}}"></div>
                            <div class="disclaimer-text" data-template="{{legend.var3}}"></div>
                            <div class="disclaimer-text" data-template="{{legend.var4}}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>