<!-- ---------------------------------- -->
<!--            PAGE PROFILE A          -->
<!-- ---------------------------------- -->
<div class="axa-page section <!-- @@var classPage --> <!-- @@var bgPage -->"
     id="<!-- @@var idPage -->"
     axa-fullpage-anchor="<!-- @@var sectionPage -->">

    <div class="container">
        <div class="row">

            <div class="page-title">
                <h2  class="text" data-template="{{pages.profile.title}}"></h2>
                <i class="js-info profile btn-icon btn-popin icon-info-circle"></i>
            </div>

            <div class="page-container">
                <h3 class="title-style-1" data-template="{{pages.profile.sections.a.text1}}"></h3>
                <div class="form-group">
                    <span class="form-text" data-template="{{pages.profile.sections.a.text2}}"></span>
                    <input type="text" class="form-control" style="width: 80px"/>
                    <span class="form-text" data-template="{{pages.profile.sections.a.text3}}"></span>
                </div>

                <div class="form-group">
                    <span class="form-text" data-template="{{pages.profile.sections.a.text2}}"></span>
                    <input type="text" class="form-control" style="width: 80px"/>
                    <span class="form-text" data-template="{{pages.profile.sections.a.text3}}"></span>
                </div>
            </div>


        </div>
    </div>


</div>