<div class="zone-a full-page">
    <div class="row">

        <div class="center">
            <h2 class="page-title" data-template="pages.home.a.title"></h2>

            <a href="" class="btn btn-color-turquoise btn-animate btn-start animated fadeIn "
               data-template="pages.home.a.button_start.link"
               data-toggle="axa-fullpage-btn_section" axa-fullpage-target="#profile">
                <span class="text" data-template="pages.home.a.button_start.text"></span>
            </a>
        </div>


        <a href="" class="btn-next btn-next-zone animated fadeInUp btn-start" data-template="pages.home.a.button_next.link"
           data-toggle="axa-fullpage-btn_section" axa-fullpage-target="#home-zone-b">
            <span class="text" data-template="pages.home.a.button_next.text"></span>
            <i class="icons">
                <i class="icon-a"></i>
            </i>
        </a>

    </div>
</div>