<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/lodash/lodash.js"></script>
<script src="/bower_components/lodash-deep/lodash-deep.min.js"></script>
<script src="/bower_components/fullpage.js/dist/jquery.fullpage.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js scripts/main.js -->
<script src="scripts/components/events.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/utils.js"></script>
<script src="scripts/settings.js"></script>
<script src="scripts/components/loader.js"></script>
<script src="scripts/components/popin.js"></script>
<script src="scripts/components/datasFiller.js"></script>
<script src="scripts/components/dataStorage.js"></script>
<script src="scripts/components/dataLoader.js"></script>
<script src="scripts/components/dataBinder.js"></script>
<script src="scripts/components/recap.js"></script>
<script src="scripts/components/fullpage.js"></script>
<!-- endbuild -->