
<header class="axa-header">
    <div class="container">
        <div class="row">
            <div class="col-12">


                <div class="pull-left navbar-left">
                    <h1 class="axa-header_brand">
                        <a class="brand_link" href="" data-template="{{header.brand.link}}" data-toggle="axa-fullpage-btn_section" axa-fullpage-target="home">
                            <span class="text" data-template="{{header.brand.title}}"></span>
                        </a>
                    </h1>
                </div>
                <div class="pull-right navbar-right">
                    <ul class="axa-header_navbar" id="axa-header_navbar">
                        <li class="item-start">
                            <a href="" class="btn btn-start" data-template="{{header.navbar.button_start.link}}" data-toggle="axa-fullpage-btn_section" axa-fullpage-target="#profile">
                                <span class="text" data-template="{{header.navbar.button_start.text}}"></span>
                            </a>
                        </li>
                        <li class="item-geolocation">
                            <a href="" class="btn btn-geolocation" data-template="{{header.navbar.geolocation.link}}" target="blank">
                                <img class="icon" data-template="{{header.navbar.geolocation.icon}}" src="" data-template-title="" title="" data-template-alt="{{header.navbar.geolocation.attr.alt}}" alt=""  />
                            </a>
                        </li>
                        <li class="item-call">
                            <a href="" class="btn btn-call" data-template="{{header.navbar.call.link}}" target="blank">
                                <img class="icon" data-template="{{header.navbar.call.icon}}" src=""
                                     data-template-title="{{header.navbar.call.attr.title}}" title=""
                                     data-template-alt="{{header.navbar.call.attr.alt}}" alt=""/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>