@font-face {
  font-family: 'ITC Franklin Gothic Demi';
  src: url('/fonts/franklin/ITCFranklinGothicStd-Demi.eot');
  src: url('/fonts/franklin/ITCFranklinGothicStd-Demi.eot?#iefix') format('embedded-opentype'),
  url('/fonts/franklin/ITCFranklinGothicStd-Demi.woff2') format('woff2'),
  url('/fonts/franklin/ITCFranklinGothicStd-Demi.woff') format('woff'),
  url('/fonts/franklin/ITCFranklinGothicStd-Demi.ttf') format('truetype'),
  url('/fonts/franklin/ITCFranklinGothicStd-Demi.svg#ITCFranklinGothicStd-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Franklin Gothic Med';
  src: url('/fonts/franklin/ITCFranklinGothicStd-Med.eot');
  src: url('/fonts/franklin/ITCFranklinGothicStd-Med.eot?#iefix') format('embedded-opentype'),
  url('/fonts/franklin/ITCFranklinGothicStd-Med.woff2') format('woff2'),
  url('/fonts/franklin/ITCFranklinGothicStd-Med.woff') format('woff'),
  url('/fonts/franklin/ITCFranklinGothicStd-Med.ttf') format('truetype'),
  url('/fonts/franklin/ITCFranklinGothicStd-Med.svg#ITCFranklinGothicStd-Med') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Franklin Gothic Book';
  src: url('/fonts/franklin/ITCFranklinGothicStd-Book.eot');
  src: url('/fonts/franklin/ITCFranklinGothicStd-Book.eot?#iefix') format('embedded-opentype'),
  url('/fonts/franklin/ITCFranklinGothicStd-Book.woff2') format('woff2'),
  url('/fonts/franklin/ITCFranklinGothicStd-Book.woff') format('woff'),
  url('/fonts/franklin/ITCFranklinGothicStd-Book.ttf') format('truetype'),
  url('/fonts/franklin/ITCFranklinGothicStd-Book.svg#ITCFranklinGothicStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Franklin Gothic Hvy';
  src: url('/fonts/franklin/ITCFranklinGothicStd-Hvy.eot');
  src: url('/fonts/franklin/ITCFranklinGothicStd-Hvy.eot?#iefix') format('embedded-opentype'),
  url('/fonts/franklin/ITCFranklinGothicStd-Hvy.woff2') format('woff2'),
  url('/fonts/franklin/ITCFranklinGothicStd-Hvy.woff') format('woff'),
  url('/fonts/franklin/ITCFranklinGothicStd-Hvy.ttf') format('truetype'),
  url('/fonts/franklin/ITCFranklinGothicStd-Hvy.svg#ITCFranklinGothicStd-Hvy') format('svg');
  font-weight: 900;
  font-style: normal;
}