// COLORS
// Default
$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.5);
$white-ultra-light: rgba(255, 255, 255, 0.3);
$black: #000000;
$turquoise: #47cbb8;
$orange: #e85041;
$violet: #67248d;
$violet-loader: #701a92;
$turquoise_dark: #3dbdc6;

// Chart Color
$dark_blue: #16509b;
$light_blue: #1dadb7;
$yellow: #f6ab22;
$red: #e53c3f;
$gray: #cecece;

$success: #8CC152;
$error: #E9573F;