// [0.] Global

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;

// [1.] HEADER

$axa-header-color: rgba(0, 84, 151, 1);
$axa-header-height: 45;
$axa-header-font-size: 14;
$axa-header_brand-font-size: 14;
$axa-header_btn-font-size: 13;
$axa-page-header-height: 150;

// [2.] Page Home A
$axa-page_home_a-background-image: url("../assets/question-zero-background.png");
$axa-page_home_a-background-repeat: no-repeat;
$axa-page_home_a-background-position: 50% 70%;
$axa-page_home_a-background-size: contain;

// [3.] Fonts
$axa-font-franklin-book : 'ITC Franklin Gothic Book', Helvetica, Arial, sans-serif;
$axa-font-franklin-heavy : 'ITC Franklin Gothic Hvy', Helvetica, Arial, sans-serif;
$axa-font-franklin-medium : 'ITC Franklin Gothic Med', Helvetica, Arial, sans-serif;
$axa-font-franklin-demi : 'ITC Franklin Gothic Demi', Helvetica, Arial, sans-serif;