<div class="slide <!-- @@var classPage -->" id="<!-- @@var idPage -->"
     axa-fullpage-slide-index="<!-- @@var slideIndexPage -->">

    <div class="page-container axa-page-container cell ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="title-style-1" data-template="pages.profile.sections.professional.text1"></h3>
                    <div class="form axa-form">
                        <div class="form-group animated fadeInUpBig">

                            <span class="form-text"
                                  data-template="pages.profile.sections.professional.text2">

                            </span>

                            <input type="number"
                                   inputmode="numeric"
                                   pattern="[0-9]*"
                                   min="0"
                                   data-binding="professional.experience"
                                   name="experience"
                                   class="form-control"
                                   style="width: 55px"
                                   placeholder="0" />

                            <span class="form-text"
                                  data-template="pages.profile.sections.professional.text2_2">

                            </span>

                            <select data-binding="professional.employee"
                                    data-template="select.professional.status"
                                    name="employee"
                                    class="form-control">

                            </select>
                        </div>

                        <div class="form-group animated responve-profil-input-top">
                            <span class="form-text"
                                  data-template="pages.profile.sections.professional.text3"></span>

                            <input type="number"
                                   inputmode="numeric"
                                   pattern="[0-9]*"
                                   min="0"
                                   autocomplete="off"
                                   data-binding="income.salary"
                                   name="salary"
                                   class="form-control" style="width: 100px" />

                            <span class="form-text"
                                  data-template="pages.profile.sections.professional.text3_2">

                            </span>
                        </div>

                        <div class="form-group animated">

                            <span class="form-text"
                                  data-template="pages.profile.sections.professional.text4">

                            </span>

                            <select data-binding="professional.evolution"
                                    data-template="select.professional.evolution"
                                    name="evolution" class="form-control">

                            </select>

                        </div>

                        <div class="clearfix center next-wrapper-remove-height">
                            <a href="#" class="btn btn-color-orange btn-form-next btn-animate">
                                <span class="form-text" data-template="global.next"></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>