<!doctype html>
<html class="no-js" lang="fr">
<head>
    <!-- @@include= ./extends/head.tpl.html {} -->
</head>
<body class="">
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- @@include= ./extends/header.tpl.html {} -->

<div class="axa-main" id="fullpage">

    <!-- @@include= ./pages/page-home-a.tpl.html {"idPage": "page-home-a", "sectionPage":"home", "menuanchorPage":"page-home-a", "classPage": "page-home-a", "bgPage": "bg-turquoise"} -->

    <!-- @@include= ./pages/page-home-b.tpl.html {"idPage": "page-home-b", "sectionPage":"subhome", "menuanchorPage":"page-home-b", "classPage": "page-home-b", "bgPage": "bg-turquoise"} -->

    <!-- @@include= ./pages/page-profile-a.tpl.html {"idPage": "page-profile-a", "sectionPage":"profile", "menuanchorPage":"page-profile-a", "classPage": "page-profile page-profile-a", "bgPage": "bg-orange"} -->

</div>
<div class="loader"></div>
<!-- @@include= ./extends/footer.tpl.html {} -->
</body>
</html>
